@media only screen and (max-width: 480px) {

  .products-container {
    display: block;
  }

  .banner {
    margin: 0;
    background-size: cover;
  }

  .banner__logo {
    width: auto;
    margin-right: 35px;
  }

  .banner__title {
    min-height: 150px;
  }

  .banner__logo img {
    margin: 25px;
    width: 130px;
  }

  .container {
    width: auto;
  }

  .products__card {
    margin: 10px 15px;
  }

  .product-image {
    width: 210px;
  }

  .navbar {
    display: none;
    width: 100%;
  }

  .products {
    margin: 60px auto;
  }

  .vl {
    display: none;
  }

  .banner__menu-icon {
    display: block;
    font-size: 35px;
  }

}