@media only screen and (max-width: 480px) {

  .products-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 25%;
  }

  .banner {
    margin: 0;
    max-width: 480px;
  }

  .container {
    max-width: 725px;
    margin: 0 25px;
  }
}