@media only screen and (max-width: 480px) {

  .products-container {
    display: block;
  }

  .banner {
    margin: 0;
    background-size: cover;
  }

  .banner__logo {
    width: auto;
    margin-right: 35px;
  }

  .banner__title {
    min-height: 150px;
  }

  .banner__logo img {
    margin: 25px;
    width: 130px;
  }

  .container {
    width: auto;
  }

  .products__card {
    margin: 10px 15px;
  }

  .product-image {
    width: 210px;
  }

  .navbar {
    display: none;
    width: 100%;
  }

  .navbar-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #F5F5F5;
    color: black;
    width: 165px;
    right: 70px;
    top: 50px;

  }

  .navbar-mobile li a {
    font-size: 19px;
    color: black;
  }

  .navbar-mobile li {
    margin-top: 10px;
  }

  .navbar__purchase-btn {
    color: black;
    border-color: black;
    transition: all .15s;
  }

  .navbar__purchase-btn:active {
    color: white;
    background-color: black;
  }

  .products {
    margin: 60px auto;
  }

  .vl {
    visibility: hidden;
  }

  .banner__menu-icon {
    display: block;
    font-size: 35px;
  }

  .cart {
    width: 360px;
    background-color: #F5F5F5;
    border-radius: 15px;
    position: fixed;
    right: auto;
  }

}